$background-color: #fff;
$accent-color: #ff6081;
$text-color: #6b7c93;

$lite-blue: #c2f2ed;
$lite-green: #c3f2c2;
$lite-orange: #f7d3c6;
$lite-purple: #ebc2f2;
$lite-yellow: #f2eac2;
$lite-pink: #f2c2ea;

@mixin media($bp) {
  @if $bp == xxs {
    @media (max-width: 479px) { @content; }
  }
  @else if $bp == xs {
    @media (min-width: 480px) { @content; }
  }
  @else if $bp == sm {
    @media (min-width: 768px) { @content; }
  }
  @else if $bp == md {
    @media (min-width: 992px) { @content; }
  }
  @else if $bp == lg {
    @media (min-width: 1200px) { @content; }
  }
  @else {
    @warn 'Not a supported value';
  }
}
