@import 'partials';
@import 'fontawesome-pro-light';
@import 'fontawesome-pro-core';

.container {
  @include media(xxs) {
    padding: 0 5px;
  }
  @include media(xs) {
    padding: 0 15px;
  }
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}
